.stars-wrapper {
    position: relative;
    display: inline-block;
    margin: 50px auto;
    left: 50%;
    transform: translateX(-50%);
    &.small {
        font-size: 25px;
    }
    &.medium {
        font-size: 30px;
    }
    &.big {
        font-size: 35px;
    }
}

.star-input {
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    opacity: 0;
}

.star-label {
    position: relative;
    float: right;
    color: rgb(200, 200, 200);
}

.star-label:before {
    margin: 5px;
    content: "\2605";
    display: inline-block;
    font-size: 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.checked~label:before {
    color: rgb(255, 193, 7);
}

.star-label:hover~label:before {
    color: rgb(255, 215, 0);
}

.star-label:hover:before {
    color: rgb(255, 193, 7);
}